@import "tailwindcss";
:root {
  --font-inter: "Inter", sans-serif;
  --cc-bg: #f0f0f0;
  --cc-color: #333;
}

:root.dark {
  --cc-bg: #191919;
  --cc-color: #f0f0f0;
}

::selection {
  background-color: #88888848;
}

body {
  font-family: var(--font-inter);
  background-color: var(--cc-bg);
  color: var(--cc-color);
}

/* View Transitions 基础设置 */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 9999;
}

.dark::view-transition-old(root) {
  z-index: 9999;
}

.dark::view-transition-new(root) {
  z-index: 1;
}
